In [1]:
%matplotlib inline


# Visualizing the stock market structure


This example employs several unsupervised learning techniques to extract
the stock market structure from variations in historical quotes.

The quantity that we use is the daily variation in quote price: quotes
that are linked tend to cofluctuate during a day.


Learning a graph structure
--------------------------

We use sparse inverse covariance estimation to find which quotes are
correlated conditionally on the others. Specifically, sparse inverse
covariance gives us a graph, that is a list of connection. For each
symbol, the symbols that it is connected too are those useful to explain
its fluctuations.

Clustering
----------

We use clustering to group together quotes that behave similarly. Here,
amongst the `various clustering techniques <clustering>` available
in the scikit-learn, we use `affinity_propagation` as it does
not enforce equal-size clusters, and it can choose automatically the
number of clusters from the data.

Note that this gives us a different indication than the graph, as the
graph reflects conditional relations between variables, while the
clustering reflects marginal properties: variables clustered together can
be considered as having a similar impact at the level of the full stock
market.

Embedding in 2D space
---------------------

For visualization purposes, we need to lay out the different symbols on a
2D canvas. For this we use `manifold` techniques to retrieve 2D
embedding.


Visualization
-------------

The output of the 3 models are combined in a 2D graph where nodes
represents the stocks and edges the:

- cluster labels are used to define the color of the nodes
- the sparse covariance model is used to display the strength of the edges
- the 2D embedding is used to position the nodes in the plan

This example has a fair amount of visualization-related code, as
visualization is crucial here to display the graph. One of the challenge
is to position the labels minimizing overlap. For this we use an
heuristic based on the direction of the nearest neighbor along each
axis.

In [3]:
from __future__ import print_function

# Author: Gael Varoquaux gael.varoquaux@normalesup.org
# License: BSD 3 clause

import sys

import numpy as np
import matplotlib.pyplot as plt
from matplotlib.collections import LineCollection

import pandas as pd

from sklearn import cluster, covariance, manifold

print(__doc__)


# #############################################################################
# Retrieve the data from Internet

# The data is from 2003 - 2008. This is reasonably calm: (not too long ago so
# that we get high-tech firms, and before the 2008 crash). This kind of
# historical data can be obtained for from APIs like the quandl.com and
# alphavantage.co ones.

symbol_dict = {
    'TOT': 'Total',
    'XOM': 'Exxon',
    'CVX': 'Chevron',
    'COP': 'ConocoPhillips',
    'VLO': 'Valero Energy',
    'MSFT': 'Microsoft',
    'IBM': 'IBM',
    'TWX': 'Time Warner',
    'CMCSA': 'Comcast',
    'CVC': 'Cablevision',
    'YHOO': 'Yahoo',
    'DELL': 'Dell',
    'HPQ': 'HP',
    'AMZN': 'Amazon',
    'TM': 'Toyota',
    'CAJ': 'Canon',
    'SNE': 'Sony',
    'F': 'Ford',
    'HMC': 'Honda',
    'NAV': 'Navistar',
    'NOC': 'Northrop Grumman',
    'BA': 'Boeing',
    'KO': 'Coca Cola',
    'MMM': '3M',
    'MCD': 'McDonald\'s',
    'PEP': 'Pepsi',
    'K': 'Kellogg',
    'UN': 'Unilever',
    'MAR': 'Marriott',
    'PG': 'Procter Gamble',
    'CL': 'Colgate-Palmolive',
    'GE': 'General Electrics',
    'WFC': 'Wells Fargo',
    'JPM': 'JPMorgan Chase',
    'AIG': 'AIG',
    'AXP': 'American express',
    'BAC': 'Bank of America',
    'GS': 'Goldman Sachs',
    'AAPL': 'Apple',
    'SAP': 'SAP',
    'CSCO': 'Cisco',
    'TXN': 'Texas Instruments',
    'XRX': 'Xerox',
    'WMT': 'Wal-Mart',
    'HD': 'Home Depot',
    'GSK': 'GlaxoSmithKline',
    'PFE': 'Pfizer',
    'SNY': 'Sanofi-Aventis',
    'NVS': 'Novartis',
    'KMB': 'Kimberly-Clark',
    'R': 'Ryder',
    'GD': 'General Dynamics',
    'RTN': 'Raytheon',
    'CVS': 'CVS',
    'CAT': 'Caterpillar',
    'DD': 'DuPont de Nemours'}


symbols, names = np.array(sorted(symbol_dict.items())).T

quotes = []

for symbol in symbols:
    print('Fetching quote history for %r' % symbol, file=sys.stderr)
    url = ('https://raw.githubusercontent.com/scikit-learn/examples-data/'
           'master/financial-data/{}.csv')
    quotes.append(pd.read_csv(url.format(symbol)))

print(quotes)

close_prices = np.vstack([q['close'] for q in quotes])
open_prices = np.vstack([q['open'] for q in quotes])

# The daily variations of the quotes are what carry most information
variation = close_prices - open_prices


# #############################################################################
# Learn a graphical structure from the correlations
edge_model = covariance.GraphicalLassoCV(cv=5)

# standardize the time series: using correlations rather than covariance
# is more efficient for structure recovery
X = variation.copy().T
X /= X.std(axis=0)
edge_model.fit(X)

# #############################################################################
# Cluster using affinity propagation

_, labels = cluster.affinity_propagation(edge_model.covariance_)
n_labels = labels.max()

for i in range(n_labels + 1):
    print('Cluster %i: %s' % ((i + 1), ', '.join(names[labels == i])))

# #############################################################################
# Find a low-dimension embedding for visualization: find the best position of
# the nodes (the stocks) on a 2D plane

# We use a dense eigen_solver to achieve reproducibility (arpack is
# initiated with random vectors that we don't control). In addition, we
# use a large number of neighbors to capture the large-scale structure.
node_position_model = manifold.LocallyLinearEmbedding(
    n_components=2, eigen_solver='dense', n_neighbors=6)

embedding = node_position_model.fit_transform(X.T).T

# #############################################################################
# Visualization
plt.figure(1, facecolor='w', figsize=(10, 8))
plt.clf()
ax = plt.axes([0., 0., 1., 1.])
plt.axis('off')

# Display a graph of the partial correlations
partial_correlations = edge_model.precision_.copy()
d = 1 / np.sqrt(np.diag(partial_correlations))
partial_correlations *= d
partial_correlations *= d[:, np.newaxis]
non_zero = (np.abs(np.triu(partial_correlations, k=1)) > 0.02)

# Plot the nodes using the coordinates of our embedding
plt.scatter(embedding[0], embedding[1], s=100 * d ** 2, c=labels,
            cmap=plt.cm.nipy_spectral)

# Plot the edges
start_idx, end_idx = np.where(non_zero)
# a sequence of (*line0*, *line1*, *line2*), where::
#            linen = (x0, y0), (x1, y1), ... (xm, ym)
segments = [[embedding[:, start], embedding[:, stop]]
            for start, stop in zip(start_idx, end_idx)]
values = np.abs(partial_correlations[non_zero])
lc = LineCollection(segments,
                    zorder=0, cmap=plt.cm.hot_r,
                    norm=plt.Normalize(0, .7 * values.max()))
lc.set_array(values)
lc.set_linewidths(15 * values)
ax.add_collection(lc)

# Add a label to each node. The challenge here is that we want to
# position the labels to avoid overlap with other labels
for index, (name, label, (x, y)) in enumerate(
        zip(names, labels, embedding.T)):

    dx = x - embedding[0]
    dx[index] = 1
    dy = y - embedding[1]
    dy[index] = 1
    this_dx = dx[np.argmin(np.abs(dy))]
    this_dy = dy[np.argmin(np.abs(dx))]
    if this_dx > 0:
        horizontalalignment = 'left'
        x = x + .002
    else:
        horizontalalignment = 'right'
        x = x - .002
    if this_dy > 0:
        verticalalignment = 'bottom'
        y = y + .002
    else:
        verticalalignment = 'top'
        y = y - .002
    plt.text(x, y, name, size=10,
             horizontalalignment=horizontalalignment,
             verticalalignment=verticalalignment,
             bbox=dict(facecolor='w',
                       edgecolor=plt.cm.nipy_spectral(label / float(n_labels)),
                       alpha=.6))

plt.xlim(embedding[0].min() - .15 * embedding[0].ptp(),
         embedding[0].max() + .10 * embedding[0].ptp(),)
plt.ylim(embedding[1].min() - .03 * embedding[1].ptp(),
         embedding[1].max() + .03 * embedding[1].ptp())

plt.show()

Automatically created module for IPython interactive environment

Fetching quote history for 'AAPL'
Fetching quote history for 'AIG'
Fetching quote history for 'AMZN'
Fetching quote history for 'AXP'
Fetching quote history for 'BA'
Fetching quote history for 'BAC'
Fetching quote history for 'CAJ'
Fetching quote history for 'CAT'
Fetching quote history for 'CL'
Fetching quote history for 'CMCSA'
Fetching quote history for 'COP'
Fetching quote history for 'CSCO'
Fetching quote history for 'CVC'
Fetching quote history for 'CVS'
Fetching quote history for 'CVX'
Fetching quote history for 'DD'
Fetching quote history for 'DELL'
Fetching quote history for 'F'
Fetching quote history for 'GD'
Fetching quote history for 'GE'
Fetching quote history for 'GS'
Fetching quote history for 'GSK'
Fetching quote history for 'HD'
Fetching quote history for 'HMC'
Fetching quote history for 'HPQ'
Fetching quote history for 'IBM'
Fetching quote history for 'JPM'
Fetching quote history for 'K'
Fetching quote history for 'KMB'
Fetching quote history for 'KO'
Fetching quote history for 'MAR'
Fetching quote history for 'MCD'
Fetching quote history for 'MMM'
Fetching quote history for 'MSFT'
Fetching quote history for 'NAV'
Fetching quote history for 'NOC'
Fetching quote history for 'NVS'
Fetching quote history for 'PEP'
Fetching quote history for 'PFE'
Fetching quote history for 'PG'
Fetching quote history for 'R'
Fetching quote history for 'RTN'
Fetching quote history for 'SAP'
Fetching quote history for 'SNE'
Fetching quote history for 'SNY'
Fetching quote history for 'TM'
Fetching quote history for 'TOT'
Fetching quote history for 'TWX'
Fetching quote history for 'TXN'
Fetching quote history for 'UN'
Fetching quote history for 'VLO'
Fetching quote history for 'WFC'
Fetching quote history for 'WMT'
Fetching quote history for 'XOM'
Fetching quote history for 'XRX'
Fetching quote history for 'YHOO'

[            date    open     close
0     2003-01-02   14.36   14.8000
1     2003-01-03   14.80   14.9000
2     2003-01-06   15.03   14.9000
3     2003-01-07   14.79   14.8500
4     2003-01-08   14.58   14.5500
5     2003-01-09   14.62   14.6800
6     2003-01-10   14.58   14.7200
7     2003-01-13   14.90   14.6300
8     2003-01-14   14.69   14.6100
9     2003-01-15   14.59   14.4300
10    2003-01-16   14.21   14.6200
11    2003-01-17   14.56   14.1000
12    2003-01-21   14.21   14.0200
13    2003-01-22   13.98   13.8800
14    2003-01-23   14.05   14.1700
15    2003-01-24   14.24   13.8000
16    2003-01-27   13.68   14.1300
17    2003-01-28   14.24   14.5800
18    2003-01-29   14.24   14.5800
19    2003-01-30   14.98   14.3200
20    2003-01-31   14.19   14.3600
21    2003-02-03   14.41   14.6600
22    2003-02-04   14.45   14.6000
23    2003-02-05   14.71   14.4500
24    2003-02-06   14.36   14.4300
25    2003-02-07   14.55   14.1500
26    2003-02-10   14.26   14.3500
27    2003-02-11   14.50   14.3500
28    2003-02-12   14.27   14.3900
29    2003-02-13   14.41   14.5400
...          ...     ...       ...
1228  2007-11-16  165.30  166.3900
1229  2007-11-19  166.10  163.9500
1230  2007-11-20  165.67  168.8500
1231  2007-11-21  165.84  168.4600
1232  2007-11-23  172.00  171.5400
1233  2007-11-26  173.59  172.5419
1234  2007-11-27  175.22  174.8100
1235  2007-11-28  176.82  180.2200
1236  2007-11-29  179.43  184.2900
1237  2007-11-30  187.34  182.2200
1238  2007-12-03  181.86  178.8600
1239  2007-12-04  177.15  179.8100
1240  2007-12-05  182.89  185.5000
1241  2007-12-06  186.19  189.9528
1242  2007-12-07  190.54  194.3000
1243  2007-12-10  193.59  194.2100
1244  2007-12-11  194.75  188.5404
1245  2007-12-12  193.44  190.8600
1246  2007-12-13  190.19  191.8300
1247  2007-12-14  190.37  190.3900
1248  2007-12-17  190.72  184.4000
1249  2007-12-18  186.52  182.9800
1250  2007-12-19  182.98  183.1200
1251  2007-12-20  185.43  187.2100
1252  2007-12-21  190.12  193.9100
1253  2007-12-24  195.03  198.8000
1254  2007-12-26  199.01  198.9500
1255  2007-12-27  198.95  198.5700
1256  2007-12-28  200.59  199.8300
1257  2007-12-31  199.50  198.0800

[1258 rows x 3 columns],             date    open  close
0     2003-01-02  58.100  60.30
1     2003-01-03  60.050  60.12
2     2003-01-06  60.120  62.14
3     2003-01-07  62.140  60.93
4     2003-01-08  60.930  60.17
5     2003-01-09  60.500  62.40
6     2003-01-10  62.150  61.81
7     2003-01-13  62.050  62.82
8     2003-01-14  62.570  63.50
9     2003-01-15  63.500  62.99
10    2003-01-16  62.990  62.74
11    2003-01-17  62.750  61.92
12    2003-01-21  62.800  61.40
13    2003-01-22  61.410  60.40
14    2003-01-23  60.250  60.93
15    2003-01-24  58.750  56.04
16    2003-01-27  56.050  55.22
17    2003-01-28  55.470  56.00
18    2003-01-29  55.470  56.00
19    2003-01-30  55.300  53.25
20    2003-01-31  53.250  54.12
21    2003-02-03  54.550  55.33
22    2003-02-04  50.470  51.70
23    2003-02-05  51.400  50.82
24    2003-02-06  50.100  48.20
25    2003-02-07  48.450  46.70
26    2003-02-10  46.700  47.00
27    2003-02-11  47.000  47.44
28    2003-02-12  47.590  46.50
29    2003-02-13  47.750  47.97
...          ...     ...    ...
1228  2007-11-16  57.070  56.44
1229  2007-11-19  55.860  55.35
1230  2007-11-20  55.630  54.44
1231  2007-11-21  53.460  51.33
1232  2007-11-23  52.000  53.03
1233  2007-11-26  53.465  52.56
1234  2007-11-27  53.010  54.49
1235  2007-11-28  55.500  57.72
1236  2007-11-29  56.650  57.33
1237  2007-11-30  58.590  58.13
1238  2007-12-03  57.700  56.90
1239  2007-12-04  56.110  55.65
1240  2007-12-05  58.000  58.15
1241  2007-12-06  57.800  61.35
1242  2007-12-07  61.800  61.45
1243  2007-12-10  61.450  61.51
1244  2007-12-11  61.480  59.25
1245  2007-12-12  59.340  58.21
1246  2007-12-13  57.300  57.05
1247  2007-12-14  55.950  55.65
1248  2007-12-17  55.700  55.01
1249  2007-12-18  55.900  56.70
1250  2007-12-19  57.310  56.89
1251  2007-12-20  57.180  56.74
1252  2007-12-21  57.480  58.33
1253  2007-12-24  58.520  59.98
1254  2007-12-26  59.980  59.52
1255  2007-12-27  59.090  58.01
1256  2007-12-28  58.260  57.94
1257  2007-12-31  57.370  58.30

[1258 rows x 3 columns],             date   open    close
0     2003-01-02  19.19  19.5700
1     2003-01-03  19.59  20.5200
2     2003-01-06  20.40  20.7000
3     2003-01-07  20.83  21.5500
4     2003-01-08  21.44  21.0200
5     2003-01-09  21.08  21.4500
6     2003-01-10  20.96  21.3200
7     2003-01-13  21.33  22.0400
8     2003-01-14  21.85  22.7400
9     2003-01-15  22.59  22.2700
10    2003-01-16  21.69  21.8000
11    2003-01-17  21.46  21.4000
12    2003-01-21  21.25  21.0800
13    2003-01-22  20.77  21.1700
14    2003-01-23  21.54  21.7900
15    2003-01-24  22.59  22.1100
16    2003-01-27  21.68  21.7800
17    2003-01-28  21.91  21.6200
18    2003-01-29  21.91  21.6200
19    2003-01-30  22.20  21.8200
20    2003-01-31  21.64  21.8500
21    2003-02-03  21.94  22.1600
22    2003-02-04  21.94  22.0500
23    2003-02-05  22.18  22.1700
24    2003-02-06  22.16  22.0900
25    2003-02-07  22.10  21.4400
26    2003-02-10  21.40  21.4000
27    2003-02-11  21.56  20.7800
28    2003-02-12  20.79  21.0300
29    2003-02-13  20.95  20.0600
...          ...    ...      ...
1228  2007-11-16  77.01  78.6000
1229  2007-11-19  78.83  79.1800
1230  2007-11-20  79.86  80.3900
1231  2007-11-21  79.24  79.7600
1232  2007-11-23  80.11  81.4300
1233  2007-11-26  82.30  81.3035
1234  2007-11-27  82.92  85.5900
1235  2007-11-28  87.55  90.3000
1236  2007-11-29  89.89  89.1500
1237  2007-11-30  90.56  90.5600
1238  2007-12-03  90.03  90.9100
1239  2007-12-04  90.04  94.4100
1240  2007-12-05  94.99  93.1900
1241  2007-12-06  93.28  94.2100
1242  2007-12-07  94.56  94.3100
1243  2007-12-10  94.31  93.0200
1244  2007-12-11  93.10  90.7500
1245  2007-12-12  92.84  91.2800
1246  2007-12-13  91.05  92.4000
1247  2007-12-14  90.77  89.0800
1248  2007-12-17  89.01  85.0900
1249  2007-12-18  85.83  86.8900
1250  2007-12-19  86.94  89.3800
1251  2007-12-20  90.14  90.5800
1252  2007-12-21  91.38  91.2600
1253  2007-12-24  91.05  91.0100
1254  2007-12-26  91.48  92.8500
1255  2007-12-27  92.67  94.2500
1256  2007-12-28  95.27  94.4500
1257  2007-12-31  93.81  92.6400

[1258 rows x 3 columns],             date   open  close
0     2003-01-02  35.80  36.67
1     2003-01-03  36.69  36.80
2     2003-01-06  36.72  38.09
3     2003-01-07  37.85  37.58
4     2003-01-08  37.59  37.30
5     2003-01-09  37.45  38.09
6     2003-01-10  37.40  38.18
7     2003-01-13  38.77  38.54
8     2003-01-14  38.35  38.43
9     2003-01-15  38.31  37.67
10    2003-01-16  37.80  37.37
11    2003-01-17  37.00  36.93
12    2003-01-21  37.27  35.95
13    2003-01-22  35.76  35.08
14    2003-01-23  35.39  35.27
15    2003-01-24  35.28  33.70
16    2003-01-27  33.27  33.42
17    2003-01-28  34.18  35.02
18    2003-01-29  35.03  35.16
19    2003-01-30  35.16  34.72
20    2003-01-31  34.45  35.53
21    2003-02-03  35.65  35.70
22    2003-02-04  35.25  34.70
23    2003-02-05  35.18  34.65
24    2003-02-06  34.30  33.76
25    2003-02-07  33.77  33.74
26    2003-02-10  33.55  33.57
27    2003-02-11  33.85  33.17
28    2003-02-12  33.18  32.50
29    2003-02-13  32.50  32.55
...          ...    ...    ...
1228  2007-11-16  58.52  58.67
1229  2007-11-19  58.18  57.37
1230  2007-11-20  57.35  57.00
1231  2007-11-21  56.42  54.34
1232  2007-11-23  54.59  55.63
1233  2007-11-26  55.74  53.54
1234  2007-11-27  53.93  55.62
1235  2007-11-28  56.10  57.41
1236  2007-11-29  57.30  56.89
1237  2007-11-30  58.24  58.98
1238  2007-12-03  58.98  58.60
1239  2007-12-04  58.37  57.11
1240  2007-12-05  57.75  57.93
1241  2007-12-06  57.91  59.53
1242  2007-12-07  57.50  56.96
1243  2007-12-10  56.88  57.58
1244  2007-12-11  57.55  54.56
1245  2007-12-12  55.67  54.08
1246  2007-12-13  53.15  53.84
1247  2007-12-14  52.96  52.29
1248  2007-12-17  52.17  52.18
1249  2007-12-18  52.43  51.78
1250  2007-12-19  51.89  51.91
1251  2007-12-20  52.40  51.03
1252  2007-12-21  51.49  51.95
1253  2007-12-24  52.43  53.24
1254  2007-12-26  52.95  52.90
1255  2007-12-27  52.40  51.10
1256  2007-12-28  51.71  50.84
1257  2007-12-31  50.85  52.02

[1258 rows x 3 columns],             date   open  close
0     2003-01-02  33.00  33.88
1     2003-01-03  34.10  34.18
2     2003-01-06  34.05  34.13
3     2003-01-07  34.12  33.30
4     2003-01-08  33.37  33.50
5     2003-01-09  33.75  33.90
6     2003-01-10  33.91  33.85
7     2003-01-13  34.15  34.30
8     2003-01-14  34.15  34.15
9     2003-01-15  34.05  33.35
10    2003-01-16  33.80  33.46
11    2003-01-17  33.35  33.29
12    2003-01-21  33.29  32.40
13    2003-01-22  32.05  31.78
14    2003-01-23  31.80  31.85
15    2003-01-24  31.60  31.01
16    2003-01-27  31.01  30.62
17    2003-01-28  30.74  31.45
18    2003-01-29  30.74  31.45
19    2003-01-30  30.27  30.66
20    2003-01-31  31.38  31.59
21    2003-02-03  30.90  31.11
22    2003-02-04  30.80  31.24
23    2003-02-05  31.07  30.67
24    2003-02-06  30.66  30.55
25    2003-02-07  30.65  30.00
26    2003-02-10  30.10  30.27
27    2003-02-11  30.27  29.84
28    2003-02-12  29.80  29.63
29    2003-02-13  29.46  29.50
...          ...    ...    ...
1228  2007-11-16  92.00  89.99
1229  2007-11-19  89.60  88.27
1230  2007-11-20  88.31  87.86
1231  2007-11-21  86.98  87.41
1232  2007-11-23  88.50  89.54
1233  2007-11-26  90.46  89.93
1234  2007-11-27  90.72  91.73
1235  2007-11-28  92.61  93.61
1236  2007-11-29  93.78  93.21
1237  2007-11-30  94.53  92.54
1238  2007-12-03  92.50  91.79
1239  2007-12-04  91.43  89.99
1240  2007-12-05  90.90  90.70
1241  2007-12-06  91.50  91.78
1242  2007-12-07  92.14  93.16
1243  2007-12-10  93.00  92.64
1244  2007-12-11  92.64  88.70
1245  2007-12-12  88.15  86.92
1246  2007-12-13  86.47  88.55
1247  2007-12-14  88.54  88.42
1248  2007-12-17  88.10  87.40
1249  2007-12-18  87.20  87.17
1250  2007-12-19  87.50  86.62
1251  2007-12-20  87.08  87.19
1252  2007-12-21  88.04  89.07
1253  2007-12-24  89.55  90.02
1254  2007-12-26  90.07  90.00
1255  2007-12-27  89.99  88.88
1256  2007-12-28  89.00  88.25
1257  2007-12-31  87.76  87.46

[1258 rows x 3 columns],             date   open  close
0     2003-01-02  69.91  70.68
1     2003-01-03  70.10  70.24
2     2003-01-06  69.65  71.25
3     2003-01-07  71.26  71.36
4     2003-01-08  71.37  71.07
5     2003-01-09  71.40  72.00
6     2003-01-10  71.27  71.80
7     2003-01-13  72.05  72.38
8     2003-01-14  72.05  72.48
9     2003-01-15  72.48  71.45
10    2003-01-16  71.29  71.00
11    2003-01-17  70.48  71.48
12    2003-01-21  71.25  70.73
13    2003-01-22  70.74  70.90
14    2003-01-23  71.07  71.60
15    2003-01-24  71.60  69.62
16    2003-01-27  69.60  68.62
17    2003-01-28  68.63  69.10
18    2003-01-29  69.10  69.59
19    2003-01-30  69.20  68.71
20    2003-01-31  68.71  70.05
21    2003-02-03  70.05  70.03
22    2003-02-04  70.04  68.64
23    2003-02-05  69.00  68.50
24    2003-02-06  68.51  68.42
25    2003-02-07  68.43  67.94
26    2003-02-10  67.94  68.21
27    2003-02-11  68.21  67.73
28    2003-02-12  67.74  67.20
29    2003-02-13  67.40  67.60
...          ...    ...    ...
1228  2007-11-16  44.29  44.37
1229  2007-11-19  44.08  42.82
1230  2007-11-20  42.80  42.77
1231  2007-11-21  42.39  42.14
1232  2007-11-23  42.57  43.15
1233  2007-11-26  43.24  41.88
1234  2007-11-27  42.46  42.94
1235  2007-11-28  43.70  44.85
1236  2007-11-29  44.80  44.63
1237  2007-11-30  46.14  46.13
1238  2007-12-03  46.25  45.47
1239  2007-12-04  45.00  44.71
1240  2007-12-05  44.51  45.23
1241  2007-12-06  45.19  45.96
1242  2007-12-07  46.00  45.37
1243  2007-12-10  45.50  46.64
1244  2007-12-11  46.52  44.65
1245  2007-12-12  44.94  43.43
1246  2007-12-13  42.87  43.05
1247  2007-12-14  42.42  42.16
1248  2007-12-17  42.01  41.70
1249  2007-12-18  42.14  41.50
1250  2007-12-19  41.68  41.59
1251  2007-12-20  41.85  41.41
1252  2007-12-21  41.81  41.92
1253  2007-12-24  41.73  42.28
1254  2007-12-26  42.08  42.30
1255  2007-12-27  42.00  41.46
1256  2007-12-28  41.70  41.10
1257  2007-12-31  40.91  41.26

[1258 rows x 3 columns],             date   open  close
0     2003-01-02  37.05  37.83
1     2003-01-03  37.83  38.15
2     2003-01-06  38.25  39.13
3     2003-01-07  38.90  38.78
4     2003-01-08  38.25  38.03
5     2003-01-09  37.90  38.42
6     2003-01-10  38.50  38.50
7     2003-01-13  38.45  38.55
8     2003-01-14  38.61  38.95
9     2003-01-15  38.99  38.77
10    2003-01-16  38.75  38.72
11    2003-01-17  38.30  37.95
12    2003-01-21  37.85  37.66
13    2003-01-22  37.45  37.12
14    2003-01-23  37.07  37.63
15    2003-01-24  36.48  36.15
16    2003-01-27  35.25  35.05
17    2003-01-28  35.10  35.24
18    2003-01-29  35.10  35.24
19    2003-01-30  35.70  35.36
20    2003-01-31  35.15  35.40
21    2003-02-03  35.55  35.63
22    2003-02-04  34.75  34.79
23    2003-02-05  35.70  35.63
24    2003-02-06  35.40  35.23
25    2003-02-07  35.45  34.78
26    2003-02-10  35.00  35.20
27    2003-02-11  35.12  35.10
28    2003-02-12  35.75  35.60
29    2003-02-13  35.56  35.64
...          ...    ...    ...
1228  2007-11-16  49.93  49.90
1229  2007-11-19  49.14  49.08
1230  2007-11-20  48.68  49.57
1231  2007-11-21  48.86  48.99
1232  2007-11-23  49.96  50.76
1233  2007-11-26  50.33  50.61
1234  2007-11-27  52.13  51.49
1235  2007-11-28  51.88  53.46
1236  2007-11-29  53.46  53.45
1237  2007-11-30  52.74  52.62
1238  2007-12-03  52.28  52.11
1239  2007-12-04  52.00  52.10
1240  2007-12-05  52.89  53.25
1241  2007-12-06  53.50  53.09
1242  2007-12-07  53.69  52.87
1243  2007-12-10  52.59  53.15
1244  2007-12-11  53.15  50.82
1245  2007-12-12  51.59  50.52
1246  2007-12-13  49.03  49.85
1247  2007-12-14  49.00  48.32
1248  2007-12-17  48.00  48.34
1249  2007-12-18  48.30  47.81
1250  2007-12-19  47.01  47.69
1251  2007-12-20  47.81  47.56
1252  2007-12-21  47.10  46.99
1253  2007-12-24  46.74  46.97
1254  2007-12-26  47.82  46.92
1255  2007-12-27  46.75  46.43
1256  2007-12-28  46.50  46.24
1257  2007-12-31  45.68  45.83

[1258 rows x 3 columns],             date   open  close
0     2003-01-02  45.95  47.75
1     2003-01-03  47.65  47.43
2     2003-01-06  47.55  48.40
3     2003-01-07  48.40  47.85
4     2003-01-08  47.86  46.40
5     2003-01-09  46.60  47.34
6     2003-01-10  46.94  47.42
7     2003-01-13  47.85  47.70
8     2003-01-14  47.45  47.39
9     2003-01-15  47.60  47.18
10    2003-01-16  46.95  47.26
11    2003-01-17  47.05  47.05
12    2003-01-21  47.40  46.07
13    2003-01-22  46.08  44.45
14    2003-01-23  44.75  45.48
15    2003-01-24  45.48  43.92
16    2003-01-27  43.80  43.25
17    2003-01-28  43.35  43.83
18    2003-01-29  43.35  43.83
19    2003-01-30  44.30  43.05
20    2003-01-31  42.75  43.98
21    2003-02-03  44.35  44.25
22    2003-02-04  44.00  43.74
23    2003-02-05  44.15  43.66
24    2003-02-06  43.50  42.97
25    2003-02-07  43.30  42.63
26    2003-02-10  42.45  42.58
27    2003-02-11  43.05  42.58
28    2003-02-12  42.65  42.04
29    2003-02-13  41.95  42.12
...          ...    ...    ...
1228  2007-11-16  70.06  69.44
1229  2007-11-19  69.40  68.20
1230  2007-11-20  68.17  68.28
1231  2007-11-21  67.57  67.94
1232  2007-11-23  68.53  68.63
1233  2007-11-26  68.59  67.83
1234  2007-11-27  68.30  68.82
1235  2007-11-28  69.00  71.19
1236  2007-11-29  71.10  71.72
1237  2007-11-30  72.50  71.90
1238  2007-12-03  71.41  72.06
1239  2007-12-04  71.77  72.01
1240  2007-12-05  72.93  72.71
1241  2007-12-06  72.68  74.35
1242  2007-12-07  74.34  74.20
1243  2007-12-10  74.22  76.58
1244  2007-12-11  76.80  73.72
1245  2007-12-12  75.25  73.82
1246  2007-12-13  73.50  74.22
1247  2007-12-14  73.54  73.39
1248  2007-12-17  71.72  71.16
1249  2007-12-18  71.34  71.05
1250  2007-12-19  70.92  70.84
1251  2007-12-20  71.21  71.51
1252  2007-12-21  71.97  72.73
1253  2007-12-24  73.00  72.70
1254  2007-12-26  72.61  73.69
1255  2007-12-27  72.88  72.73
1256  2007-12-28  73.01  73.16
1257  2007-12-31  73.00  72.56

[1258 rows x 3 columns],             date   open  close
0     2003-01-02  52.52  53.80
1     2003-01-03  53.25  53.16
2     2003-01-06  53.16  54.32
3     2003-01-07  54.25  53.58
4     2003-01-08  53.65  53.20
5     2003-01-09  53.00  53.10
6     2003-01-10  53.00  52.93
7     2003-01-13  52.95  52.85
8     2003-01-14  52.60  52.58
9     2003-01-15  52.60  52.30
10    2003-01-16  52.45  54.00
11    2003-01-17  54.01  53.76
12    2003-01-21  54.00  53.07
13    2003-01-22  52.95  51.98
14    2003-01-23  51.50  52.37
15    2003-01-24  52.38  51.61
16    2003-01-27  51.55  50.85
17    2003-01-28  50.85  51.52
18    2003-01-29  50.85  51.52
19    2003-01-30  50.83  49.62
20    2003-01-31  49.55  50.91
21    2003-02-03  51.25  50.75
22    2003-02-04  51.15  52.19
23    2003-02-05  51.95  51.50
24    2003-02-06  51.49  51.42
25    2003-02-07  51.60  51.20
26    2003-02-10  51.60  51.50
27    2003-02-11  51.75  50.61
28    2003-02-12  50.60  50.17
29    2003-02-13  50.17  50.38
...          ...    ...    ...
1228  2007-11-16  78.32  78.80
1229  2007-11-19  78.86  77.49
1230  2007-11-20  77.46  78.87
1231  2007-11-21  78.28  78.03
1232  2007-11-23  78.39  79.00
1233  2007-11-26  79.00  78.22
1234  2007-11-27  78.70  79.15
1235  2007-11-28  79.26  79.74
1236  2007-11-29  79.47  80.15
1237  2007-11-30  81.00  80.08
1238  2007-12-03  80.08  80.05
1239  2007-12-04  79.73  79.04
1240  2007-12-05  79.82  79.22
1241  2007-12-06  79.19  79.48
1242  2007-12-07  79.75  79.81
1243  2007-12-10  79.76  78.86
1244  2007-12-11  78.86  79.05
1245  2007-12-12  79.34  79.80
1246  2007-12-13  79.61  80.39
1247  2007-12-14  80.34  80.64
1248  2007-12-17  80.75  79.06
1249  2007-12-18  79.30  77.80
1250  2007-12-19  78.19  77.96
1251  2007-12-20  77.96  78.37
1252  2007-12-21  79.12  78.73
1253  2007-12-24  79.00  78.46
1254  2007-12-26  78.33  78.99
1255  2007-12-27  78.66  78.51
1256  2007-12-28  78.19  78.74
1257  2007-12-31  78.43  77.96

[1258 rows x 3 columns],             date   open    close
0     2003-01-02  23.43  24.8000
1     2003-01-03  24.63  24.5000
2     2003-01-06  24.71  25.9700
3     2003-01-07  25.50  25.8900
4     2003-01-08  25.72  25.3900
5     2003-01-09  25.49  26.6900
6     2003-01-10  26.20  27.4800
7     2003-01-13  27.62  27.5400
8     2003-01-14  27.51  28.3800
9     2003-01-15  28.18  28.3900
10    2003-01-16  28.29  27.9200
11    2003-01-17  27.50  26.9400
12    2003-01-21  26.84  26.0300
13    2003-01-22  25.49  26.0600
14    2003-01-23  25.97  27.2700
15    2003-01-24  27.28  26.1000
16    2003-01-27  25.86  25.8400
17    2003-01-28  26.04  26.4500
18    2003-01-29  26.04  26.4500
19    2003-01-30  27.09  26.1500
20    2003-01-31  25.77  26.6300
21    2003-02-03  26.65  26.0500
22    2003-02-04  25.92  24.9900
23    2003-02-05  25.24  25.4100
24    2003-02-06  25.15  26.4000
25    2003-02-07  26.47  25.3300
26    2003-02-10  25.49  25.4400
27    2003-02-11  25.60  25.2900
28    2003-02-12  25.14  24.4700
29    2003-02-13  24.57  24.8300
...          ...    ...      ...
1228  2007-11-16  19.73  19.8900
1229  2007-11-19  19.78  19.3500
1230  2007-11-20  19.51  19.3700
1231  2007-11-21  19.25  19.1900
1232  2007-11-23  19.37  19.5400
1233  2007-11-26  19.41  19.1000
1234  2007-11-27  19.14  19.4700
1235  2007-11-28  19.75  19.9700
1236  2007-11-29  19.88  20.3100
1237  2007-11-30  20.53  20.5400
1238  2007-12-03  20.35  21.0500
1239  2007-12-04  20.84  20.7300
1240  2007-12-05  18.94  18.1800
1241  2007-12-06  18.22  18.3000
1242  2007-12-07  18.24  18.2800
1243  2007-12-10  18.21  18.3500
1244  2007-12-11  18.26  17.7801
1245  2007-12-12  18.10  17.6300
1246  2007-12-13  17.55  18.0400
1247  2007-12-14  17.83  18.1400
1248  2007-12-17  18.01  18.1000
1249  2007-12-18  18.09  18.0800
1250  2007-12-19  18.00  18.0300
1251  2007-12-20  18.05  18.1200
1252  2007-12-21  18.17  18.4100
1253  2007-12-24  18.41  18.3000
1254  2007-12-26  18.13  18.5300
1255  2007-12-27  18.58  18.4300
1256  2007-12-28  18.69  18.4000

AttributeError: module 'sklearn.covariance' has no attribute 'GraphicalLassoCV'